# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

#nix
.direnv
.pre-commit-config.yaml
result

#fonts
fonts

#obsidian files
src/content/obsidian
target
.sass-cache/be4a68575e98e3304e79de74f221f80b076c1c07
